<p id="notice"><%= notice %></p>

<h1>Digested Reads</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @digested_reads.each do |digested_read| %>
      <tr>
        <td><%= link_to 'Show', digested_read %></td>
        <td><%= link_to 'Edit', edit_digested_read_path(digested_read) %></td>
        <td><%= link_to 'Destroy', digested_read, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Digested Read', new_digested_read_path %>
