<section class="section">
  <article class="page single">
  <p id="notice"><%= notice %></p>

    <header class="post-header">
      <h2 class="post-title" itemprop="name headline">Image Uploads</h2>
      <p><%= pluralize(@image_uploads.count, "image upload") %>. Showing the least recently updated first.</p>
      <%= link_to "New Image Upload", new_image_upload_path, class: "button mt-2 is-small is-success" %>
    </header>

    </br>

    <div class="post-content" itemprop="text">
      <div class="index-list">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th></th>
              <th>Website URL</th>
              <th>Published at</th>
            </tr>
          </thead>

          <tbody>
            <% @image_uploads.each do |image_upload| %>
              <tr>
                <td>
                  <%= render "shared/image",
                    image: image_upload.image,
                    version: Image::TINY_SQUARE,
                    loading: "eager"
                  %>
                </td>
                <td><%= link_to image_upload.title, image_upload_path(image_upload) %></td>
                <td><%= link_to 'edit', edit_image_upload_path(image_upload) %></td>
                <td><%= link_to(image_upload.website_url, image_upload.website_url) if image_upload.website_url %></td>
                <td><%= time_ago(image_upload.published_at) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </article>
</section>
